replicaCount: 1
image:
  repository: registry.piensoluegoinstalo.com:5000/maven-app
  tag: latest
  pullSecret: regcred
  dockerconfigjson: '{"auths":{"https://registry.piensoluegoinstalo.com:5000":{"username":"akaronte","password":"mondariz10","email":"akaronte@hotmail.com","auth":"YWthcm9udGU6bW9uZGFyaXoxMA=="}}}'
service:
  port: 8081
  targetPort: 8081
route:
  host: host-maven-app.apps.kube1.okd.piensoluegoinstalo.com
