kind: ConfigMap
apiVersion: v1
metadata:
  name: otel-config
data:
  config.yaml: |
    receivers:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    exporters:
      logging:
        loglevel: debug

    service:
      pipelines:
        logs:
          receivers: [otlp]
          exporters: [logging]
        traces:
          receivers: [otlp]
          exporters: [logging]
        metrics:
          receivers: [otlp]
          exporters: [logging]